/* ------------------ Set Up  --------------------*/

.card-header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.w-50px-h50px
{
    width: 50px !important;
    height: 50px !important;
}


.add-button {
    padding: 0.7rem 1.5rem;
    /*background-color: #ED1C24 !important;*/
    /*color:  #F4F6F9 !important;*/
    /*border-radius: var(--secondary-radius);*/

    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;

}

.add-button i {
    font-size: 14px;
}

/*.add-button:hover {*/
/*    background-color: #ED1C24;*/
/*    color: white;*/
/*}*/

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/*----------- Form input & textarea design --------------*/

form .form-control {
    width: 100% !important;
    padding: 1rem !important;
    border: 1px solid #ccc !important;
    border-radius: var(--radius) !important;
}
form .form-control:focus {
    outline-color: #5BBA47 !important;
}
form textarea {
    width: 100% !important;
    padding: 1rem !important;
    border: 1px solid #ccc !important;
    border-radius: var(--radius) !important;
}
form textarea:focus {
    outline-color: #5BBA47  !important;
}
form .btn {
    float: right;
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    margin-right: 0;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    background-color: #ED1C24;
    color: white;
}


/* ------------ Select 2 -------------------- */

.select2-container--default .select2-selection--single {
    width: 100% !important;
    height: 3.5rem !important;
    padding: 1rem !important;
    border: 1px solid #ccc !important;
    border-radius: var(--radius) !important;
}

.select2-container--default .select2-selection--single:focus {
    outline-color: #5BBA47;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1rem !important;
    overflow: auto !important;
    height: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50% !important;
    bottom: 50% !important;
    transform: translate(-50%,-50%);
}

/* ------------------ Dashboard --------------------- */

.info-box {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    width: 100%;
}

.icon-container {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    background-color: #E3342F;
}

.icon-container > i {
    color: white;
}

.info-box .info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 120%;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.dashboard_box_text {
font-weight: 600;
font-size: 20px;
}

.info-box .info-box-number {
display: block;
margin-top: .25rem;
font-weight: 500;
}

.dashboard_box_text-small {
font-weight: 500;
font-size: 17px;
}



/*--------------- Permission ---------------------*/

.nested {
    display: none;
}

input[type=checkbox] {
    border: 1px solid #ccc !important;
}

input[type=checkbox]:checked {
    box-shadow: none !important;
    outline: none !important;
    background-color: var(--primary-color) !important;
}

input[type=checkbox]:focus {
    box-shadow: none !important;
    outline: none !important;
}


/*---------------- Fruit -------------------*/

.avator-rounded {
    width: 65px !important;
    height: auto !important;
}
















