
:root {
    --primary-color: #5BBA47;
    --secondary-color: #3c8132;
    --radius: 20px;
    --secondary-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.radius {
    border-radius: var(--radius) !important;
}

.secondary-radius {
    border-radius: var(--secondary-radius) !important;
}

.btn{
    outline: none !important;
    box-shadow: none !important;
}

.card-header {
    border-top-left-radius: var(--secondary-radius) !important;
    border-top-right-radius: var(--secondary-radius) !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: var(--primary-color) !important;
}

.card {
    border-radius: var(--radius) !important;
    box-shadow: var(--box-shadow);
}

.card-custom{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    box-shadow: var(--box-shadow);
}

h5 {
    margin-bottom: 0px !important;
}

textarea {
    resize: none;
}

.form-select {
    border: none;
}
.form-select:focus {
    border: none;
    box-shadow: none;
}
.form-select option {
    border: 1px solid var(--primary-color) !important;
    padding: 50px !important;
}


/* -------------------------- Logout --------------------------------- */

.swal2-styled.swal2-cancel{
    background-color: #ed1c24 !important;

    float: right;
    padding: 0.7rem 1.5rem !important;
    margin: 0.5rem;
    margin-right: 0;
    border: 1px solid #ccc;
    border-radius: var(--secondary-radius) !important;
    color: white;
}

.swal2-styled.swal2-confirm{
    background-color: var(--primary-color) !important;
    float: right;
    padding: 0.7rem 1.5rem !important;
    margin: 0.5rem;
    margin-right: 0;
    border: 1px solid #ccc;
    border-radius: var(--secondary-radius) !important;
    color: white;

}

.swal2-styled.swal2-cancel:hover {
    /*background-color: #fff !important;*/
    /*color: #ED1C24 !important;*/
    /*border-color: #ED1C24 !important;*/
}

.swal2-styled.swal2-confirm:hover {
    /*background-color: #fff !important;*/
    /*color: #ED1C24 !important;*/
    /*border-color: #ED1C24 !important;*/
}

.swal2-styled.swal2-cancel:focus {
    outline: none !important;
    box-shadow: none !important;
}

.swal2-styled.swal2-confirm:focus {
    outline: none !important;
    box-shadow: none !important;
}


.swal2-container.swal2-center>.swal2-popup {
    border-radius: var(--radius);
}
