
.about_section {
    margin-top: 3rem;
    background-color: #FAFAFA;
}
.about_bg {
    display: flex;
    justify-content: center;
}
.about_text {
    padding: 0 20px;
}

.why {
    margin-top: 3rem;
    background-color: #FAFAFA;
}

.why .icon {
    width: 40px;
    height: 40px;
    background-color: #5BBA47;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.why img {
    width: 300px;
    height: 300px;
}



@media screen and (min-width: 765px) {
    .main_title {
        color: white;
    }
    .about_bg {
        /*background-image: url('/public/frontend-assets/images/about_us_bg.f2d574dd.jpg');*/
        background-image: url("../../images/about_us_bg.f2d574dd.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .about_text {
        padding: 0 50px;
    }
    .why img {
        width: 320px;
        height: 320px;
    }
}

@media screen and (min-width: 1400px) {
    .why img {
        width: 400px;
        height: 400px;
    }
}
