#it_products {
    margin-top: 3rem;
}

#it_products .it_product_img {
    transition: ease-in 0.2s;
}

.laptop_img {
     width: 100%;
     height: auto;
}
.phone_img {
     width: 100%;
     height: auto;
 }

.it_product_detail .underline {
    text-decoration: none;
    color: #0074d9;
    position: relative;
}

.it_product_detail .underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color:#5BBA47;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.it_product_detail .underline:hover {
    color: #5BBA47;
}

.it_product_detail .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

.it_products_col {
    border-right: 3px solid #ebebeb;
}

.it_products_col:last-child {
     border-right: 1px solid transparent;
}

.application-store {
    width: 150px !important;
    height: 50px !important;
}

@media screen and (min-width: 992px) {
    #it_products .it_product_img .laptop_img {
        width: 100%;
        height: auto;
    }

    #it_products .it_product_img .phone_img {
        width: 100%;
        height: auto;
    }
}
