.mission_section {
    /*margin-top: 3rem;*/
    background-color: #FAFAFA;
}
.mission_bg {
    display: flex;
    justify-content: center;
}
.mission_text {
    padding: 0 20px;
}
@media screen and (min-width: 765px) {
    .main_title {
        color: white;
    }
    .mission_bg {
        background-image: url("../../images/mission_bg.1380949c.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .mission_text {
        padding:  0 50px;
    }
}
