.cc_section {
    background-color: rgba(205, 202, 202, 0.105);
}
.cc_section .cc_bg {
    display: flex;
    justify-content: center;
}
.cc_section .mission_text {
    padding: 20px;
}
.cc_section .main_title {
    color: black;
}
@media screen and (min-width: 765px) {
    .cc_section .cc_bg {
        background-image: url("../../../frontend-assets/images/cct_banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
    .cc_section .mission_text {
        padding: 50px;
    }
}

