.row {
    margin: 0 auto;
    max-width: 95em;
}

.label {
    width: 200px;
}

.field-container {
    margin-bottom: 20px;
}




.field-container input, select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.field-container select:focus {
    outline-color: #5BBA47 !important;
}
.field-container input:focus {
    outline-color: #5BBA47 !important;
}
.field-container textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.field-container textarea:focus {
    outline-color: #5BBA47 !important;
}
.field-container button {
    float: right;
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    margin-right: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ED1C24;
    color: white;
}
.field-container button:hover {
    background-color: white;
    color: #ED1C24;
    border: 1px solid #ED1C24;
}

select > option {
    border-radius: 10px !important;
}
