.target_banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/target_market.jpg");
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#market {
    padding-top: 50px;
    padding-bottom: 50px;
}
.our_market_card_container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.our_market_card_container .our_market_card {
    margin-top: 9rem;
    margin-bottom: 1rem;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 20px;
}
.our_market_card_container .our_market_card .market_card_title {
    padding-left: 20px;
    margin-top: 20px;
}
.our_market_card_container .our_market_card .market_card_body {
    padding: 20px;
    text-align: left;
}
.our_market_card_container .our_market_card .market_card_img {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}
.our_market_card_container .our_market_card .market_card_img img {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100% !important;
}

.our_market_card:hover {
     transform: translateY(-20px);
     cursor: pointer;
}

.our_market_card_container:last-child {
     border-right: none;
 }

@media screen and (min-width: 768px) {
    .our_market_card_container {
        border-right: 3px solid #ebebeb;
    }
    .our_market_card_container .our_market_card {
        margin-top: 7rem;
        width: 75%;
    }
}

