#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.our_clients_card {
    width: 90%;
    padding: 20px;
    margin: 3rem auto;
    background-color: rgba(205, 202, 202, 0.313);
    border-radius: 25px;
    font-size: 1rem;
}
.our_clients_card .title {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    align-items: center;
    gap: 0.5rem;
    opacity: 1;
    margin-bottom: 1rem;
}
.our_clients_card .title .underline {
    background: #ED1C24;
    height: 10px;
    width: 5%;
    opacity: 0.5;
}
.our_clients_card .content {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    .title {
        font-size: 2.2rem;
    }
}
