/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-check-input:focus {border-color: rgb(217, 209, 209) !important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.login-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/../../../heart_bg.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% 105%;
    color: white;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
     margin: 25px 0;
}

.form-check {
    margin: 20px 0;
}

.login .input {
    background-color: transparent;
    width: 100%;
    padding: 0.4rem 1rem;
    border: 2px solid #858282;
    border-radius: 10px;
    outline: none;
}
.login label {
    margin-bottom: 5px;
}
.login .input:focus {
    border-color: #5bba47;
}
.login textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.login textarea:focus {
    outline-color: #5BBA47;
}
.login button {
    float: right;
    padding: 0.4rem 1.5rem;
    margin-right: 0;
    border: 2px solid #5bba47;
    outline: none;
    border-radius: 10px;
    background-color: #5bba47;
    color: white;
    margin-top: 10px;
}
.login button:hover {
    background-color: transparent;
    color: #ED1C24;
    border: 2px solid #ED1C24;
}

.form-check-input{
    border: 2px solid #ffffff;
    background-color: transparent;
}
.form-check-input:focus{
    border-color: rgb(217, 209, 209);
}
.form-check-input:checked {
    background-color: #5bba47 !important;
    border-color: rgb(217, 209, 209);
}


.underline {
    text-decoration: none;
    color: #0074d9;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color:#5BBA47;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover {
    color: #5BBA47;
}

.underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

.main_title_underline {
    background-color: black !important;
}

/* --------------------- User Login -------------------- */

.user-login {
    height: 100vh;
    background-image: -webkit-linear-gradient(155deg,#fff 55%,#5bba47 0);
}

.user-login > .row {
    height: 100%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.user-login .left {
    padding-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.user-login .logo img{
    width: 180px;
    margin-bottom: 20px;
}

.user-login .shopping_app_img {
    margin-top: 30px;
}

.user-login .shopping_app_img img{
    width: 300px;
}

.user-login .left .text {
    font-size: 20px;
    color: white;
}

.user-login .right {
    padding: 30px;
}

@media screen and (max-width: 992px) {

    .user-login {
        background-image: -webkit-linear-gradient(150deg,#fff 0%,#fff 0);
    }

    .user-login .logo img{
        width: 160px;
    }
}

@media screen and (max-width: 768px) {
    .user-login .bottom-text {
        font-size: 15px;
    }

    .user-login a {
        font-size: 15px;
    }
}


