/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-check-input:focus {border-color: rgb(217, 209, 209) !important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.custom-option {
    background-color: #5BBA47 !important;
}

.user-register .input-wrapper{
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    /*padding: 0;*/
}

.user-register .input {
    background-color: transparent;
    width: 100%;
    padding: 0.4rem 1rem;
    border: 2px solid rgba(133, 130, 130, 0.89);
    border-radius: 10px;
    outline: none;
}
.user-register label {
    margin-bottom: 5px;
}
.user-register .input:focus {
    border-color: #5bba47;
}
.user-register textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.user-register textarea:focus {
    outline-color: #5BBA47;
}
.user-register button {
    float: right;
    padding: 0.4rem 1.5rem;
    margin-right: 0;
    border: 2px solid #5bba47;
    outline: none;
    border-radius: 10px;
    background-color: #5bba47;
    color: white;
}
.user-register button:hover {
    background-color: transparent;
    color: #ED1C24;
    border: 2px solid #ED1C24;
}

.underline {
    text-decoration: none;
    color: #0074d9;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color:#5BBA47;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover {
    color: #5BBA47;
}

.underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}


/* ------------ Select 2 -------------------- */
.select2-container{
    height: 100% !important;
}

.select2-container--default .select2-selection--single {
    /*width: 100% !important;*/
    /*padding: .5rem !important;*/
    /*border: 2px solid #ccc !important;*/
    /*border-radius: 10px !important;*/
    background-color: transparent !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0.7rem 1rem !important;
    border: 2px solid rgba(133, 130, 130, 0.89) !important;
    border-radius: 10px !important;
    outline: none !important;
}

.select2-container .select2-selection--single{
    height: 100% !important;
}


.select2-container--default .select2-selection--single:focus {
    outline-color: #5BBA47;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 19px !important;
    overflow: auto !important;
    height: 100% !important;
}

/* ------------------------- User Register ---------------------------*/
.user-register {
    height: 100vh;
    background-image: -webkit-linear-gradient(180deg,#fff 55%,#5bba47 0);
    padding: 0 50px;
}

.user-register > .row {
    height: 100%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.user-register .left {
    padding-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.user-register .logo img{
    width: 180px;
    margin-bottom: 20px;
}

.user-register .shopping_app_img {
    margin-top: 30px;
}

.user-register .shopping_app_img img{
    width: 300px;
}

.user-register .left .text {
    font-size: 20px;
    color: white;
}




@media screen and (max-width: 992px) {

    .user-register {
        background-image: -webkit-linear-gradient(150deg,#fff 55%,#fff 0);
    }

    .user-register .logo img{
        width: 160px;
    }
}

@media screen and (max-width: 768px) {
    .user-register {
        padding: 0;
    }

    .user-register .bottom-text {
        font-size: 15px;
    }

    .user-register a {
        font-size: 15px;
    }
}

