/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-check-input:focus {border-color: rgb(217, 209, 209) !important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.custom-option {
    background-color: #5BBA47 !important;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    /* background-color: #0074d9; */
}

.register {
    height: 100vh;
}

.register .input {
    background-color: transparent;
    width: 100%;
    padding: 0.6rem 1rem;
    border: 2px solid #858282;
    border-radius: 10px;
    outline: none;
}
.register label {
    margin-bottom: 5px;
}
.register .input:focus {
    border-color: #5bba47;
}
.register textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.register textarea:focus {
    outline-color: #5BBA47;
}
.register button {
    float: right;
    padding: 0.4rem 1.5rem;
    margin-right: 0;
    border: 2px solid #5bba47;
    outline: none;
    border-radius: 10px;
    background-color: #5bba47;
    color: white;
}
.register button:hover {
    background-color: transparent;
    color: #ED1C24;
    border: 2px solid #ED1C24;
}

.underline {
    text-decoration: none;
    color: #0074d9;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color:#5BBA47;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover {
    color: #5BBA47;
}

.underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}


/* ------------ Select 2 -------------------- */
.select2-container{
    height: 100% !important;
}

.select2-container--default .select2-selection--single {
    /*width: 100% !important;*/
    /*padding: .5rem !important;*/
    /*border: 2px solid #ccc !important;*/
    /*border-radius: 10px !important;*/
    background-color: transparent !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0.7rem 1rem !important;
    border: 2px solid #858282 !important;
    border-radius: 10px !important;
    outline: none !important;
}

.select2-container .select2-selection--single{
    height: 100% !important;
}


.select2-container--default .select2-selection--single:focus {
    outline-color: #5BBA47;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 19px !important;
    overflow: auto !important;
    height: 100% !important;
}



@media screen and (max-width: 992px) {
    .register {
        height: 100%;
        padding: 20px 10px;
    }

    .input-wrapper{
        margin: 15px 0;
    }
}

